<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>antiResourceLocking</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>antiJARLocking</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>TestServlet1</servlet-name>
        <servlet-class>test.TestServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexPage</servlet-name>
        <servlet-class>com.clickstuffexchange.servlet.IndexPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticPage</servlet-name>
        <servlet-class>com.clickstuffexchange.servlet.StaticPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>com.clickstuffexchange.servlet.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.clickstuffexchange.servlet.auth.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreController</servlet-name>
        <servlet-class>com.clickstuffexchange.servlet.store.StoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.clickstuffexchange.servlet.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>com.clickstuffexchange.servlet.store.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet1</servlet-name>
        <url-pattern>/TestServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexPage</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticPage</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth/index.jsp</url-pattern>
        <url-pattern>/auth/error.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/auth/register.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreController</servlet-name>
        <url-pattern>/store/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/auth/login.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/store/detail.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jspx</welcome-file>
    </welcome-file-list>
</web-app>
