body{
	padding-top:70px;
	padding-bottom:20px;
}
.jumbotron{
 padding:200px 0 140px 0;
}
p{
font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
font-family: 'Oswald', sans-serif;
}
section{
margin-top:50px;
}

.border{
 width:50%;
margin-left:25%;
 border-bottom-style:solid;
border-bottom-color:rgb(192,192,192);

}

section#contact.page{
background-image:url(../img/contact.jpg);
color:white;
height:700px;
}
div.heading{
margin-top:10%;
font-size:28px
}
div.body{
font-size:20px
}


section#services.page {
    color: #f4511e;
    font-size: 50px;
}
div.t {
    color:black;
    font-size: 20px;
}







