body{
	padding-top:70px;
	padding-bottom:20px;
}
p{
font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
font-family: 'Oswald', sans-serif;
}



a.btn.btn-default.store-category-link{
    width:100%;
    text-align: left;
    display: block;
}

.btn{
    text-transform: uppercase;
    border-radius: 0;
    background:transparent;
}
.btn-primary{
   
}

div.col-md-9{
    margin-top:20pt;
}

div.col-md-3{
    margin-top: 10pt;
}

div.col-md-4{
   width:50%
}
img.img-rounded{
    width:100%;
}