body{
	padding-top:70px;
	padding-bottom:20px;
}
.jumbotron{
 padding:100px 0 200px 0;
}
p{
font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
font-family: 'Oswald', sans-serif;
}




.button{
background-color:rgb(90,173,173);
 color:white;
}