body{
	padding-top:70px;
	padding-bottom:20px;
}
.jumbotron{
 padding:100px 0 200px 0;
}
p{
font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
font-family: 'Oswald', sans-serif;
}

div.form-group-submit{
    margin-top: 20pt;
}

button#submit_btn{
background-color:rgb(90,173,173);
 color:white;
}